/* Metric boxes CSS format  */
div.css-1wivap2.e1i5pmia3 {
    background-color: #44475A;
    border: 1px solid #2D2E3B;
    border-radius: 10px;
    text-align: center;
    color: #F8F8F2;
    font-size: 48px;
    margin-top: -10px;
}